<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='components/about'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='components/contact'>Contact</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- <input type="text" (keyup)="myEvent($event)"> -->
<!-- <input type="text" #peter (keyup)="myEvent(peter.value)"> -->
<p>{{currentValue}}</p>

<input type="text" [value]="currentValue" [(ngModel)]="currentValue">
<br>
simple array
<ul>
  <li *ngFor="let skill of skills">{{skill}}</li>
</ul>

simple nested object only
<p>{{employee.name}} {{employee.address.city}} {{employee.address.country}}</p>

<div *ngFor="let dept of departments">
  <h3>{{dept.name}}</h3>
  <div *ngFor="let item of dept.employees">
    <p>{{item}}</p>
  </div>
</div>
<hr>
<div>
  <h3>1 : User Prfile</h3>
  <p>Name : {{userProfile.name}} , Age : {{userProfile.age}}</p>
</div>
<div>
  <h3> 2 : User Hobbies</h3>
  <p *ngFor='let hobby of userProfile.hobbies'> {{hobby}}</p>
</div>
<div>
  <h3>3 : User Address</h3>
  <p>City : {{userProfile.address.city}} , Zip : {{userProfile.address.zip}}</p>
</div>

<hr>
<hr>
<div>
  <h5>{{company.name}} (Since {{company.established}})</h5>
</div>

<div *ngFor='let dept of company.departments'>
  <p>{{dept.deptName}} Department - Manager : {{dept.manager}}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of dept.employees'>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
        <!-- <td><button (click)="showEmployee(item)">View</button></td> -->
      </tr>


    </tbody>
  </table>

  <table class="table">
    <tr>
      <th>First Name</th>
      <th>last Name</th>
      <th>Maiden Name</th>
      <th>Age</th>
    </tr>
    <tr *ngFor='let user of usersArr'>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.maidenname}}</td>
      <td>{{user.age}}</td>
    </tr>
  </table>

  <br>
<!-- <mat-spinner></mat-spinner> -->
<!-- <button mat-raised-button color="primary">Click Me</button> -->












  <router-outlet></router-outlet>